<div class="wrapper">
    <div class="page-header page-header-xs aboutme-background home-background" data-parallax="true">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar centered-avatar">
                    <img src="../../assets/img/profileimage.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Noelia Rodríguez Plaza<br /></h4>
                    <h6 class="description">Analyst Software Developer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <blockquote class="blockquote">
                      <p class="mb-0">Two year experience in the field of software developing.</p>
                    </blockquote>
                    <p>
                      Front-end: technologies such AngularJS, Angular, Bootstrap, Javascript, Html5.        
                    </p>
                    <p>
                      Back-end : technologies such Java core, Java EE, JSF, JSP, Hibernate, Spring MVC.                  
                    </p>
                    <p>
                      Databases: Oracle, MySQL, Sqlite, Postgres
                    </p>
                    <p>
                      Shell scripting (bash or Shell), system administration with Linux and windows and task automation.                        
                    </p>
                    <br />
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Studies">
                          <ng-template ngbTabContent >     
                            <div class="row"> 
                              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto mr-auto">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">UDIMA</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">2018 – 2019</h6>
                                    <p class="card-text">Master degree in advanced programming</p>
                                    <p class="card-text">Servlets, JSP, EJB, J2EE</p>
                                    <p class="card-text">PHP, XML</p>
                                    <p class="card-text">SQL, PL/SQL, Oracle</p>
                                    <p class="card-text">SPRING MVC, JSF, STRUTS</p>
                                    <p class="card-text">COBOL</p>
                                    <p class="card-text">.NET, C#, Power Shell scripts</p>
                                  </div>
                                </div>  
                              </div>  
                              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto mr-auto">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">IES Castillo de la Yedra</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">2014 - 2016</h6>
                                    <p class="card-text">FP Sup. En Desarr. de Aplic. Multiplataforma</p>
                                    <p class="card-text">Grades: High honors</p>
                                    <p class="card-text">Extraordinary Andalucia FP awards</p>
                                  </div>
                                </div>  
                              </div> 
                              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto mr-auto">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">IES Castillo de la Yedra</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">2012 – 2014</h6>
                                    <p class="card-text">FP Sup. en Admin. de Sist. informáticos en red</p>
                                    <p class="card-text">High Grades</p>
                                  </div>
                                </div>  
                              </div>    
                            </div> 
                            <div class="row">
                              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto mr-auto">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">IES Castillo de la Yedra</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">2006 – 2010</h6>
                                    <p class="card-text">Compulsory Secondary Education</p>
                                  </div>
                                </div>  
                              </div>     
                              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto mr-auto">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">IES Castillo de la Yedra</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">2010 – 2012</h6>
                                    <p class="card-text">Bachiller</p>
                                  </div>
                                </div>  
                              </div>     
                            </div> 
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Experience">
                          <ng-template ngbTabContent>
                            <div class="row">
                              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto mr-auto">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">CGI – Full-stack programmer</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">2019 May – Actuality</h6>
                                    <p class="card-text">
                                      - Front-end incidence resolution as well as business logic and data                                         
                                    </p>
                                    <p class="card-text">
                                      - Analysis and development of the web interface (responsive) to set up the communication between the services that contains business logic and data.analysis                                        
                                    </p>
                                    <p class="card-text">
                                      - Consume REST Api for completing the information of the business model information                                         
                                    </p>
                                    <p class="card-text">
                                      - Used tools: Visual Studio Code, Eclipse, Git, XML, Json, Postman, Gitlab, Sharepoint, Confluence, Junit, Jira, sass, scss                                        
                                    </p>
                                    <p class="card-text">
                                      - Methodology: Scrum                                         
                                    </p>
                                    <p class="card-text">
                                      - Programming languages: Javascript, Bootstrap, Html5, Jquery, css, Spring MVC, Java, Ajax, JPA, JSF, JSP, Primefaces, Hibernate, EJB, Html5, Jquery, css                                        
                                    </p>
                                  </div>
                                </div>  
                              </div> 
                              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto mr-auto">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">EVERIS – Full-stack programmer</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">2019 January – 2019 May</h6>
                                    <p class="card-text">
                                      - Front-end incidence resolution as well as business logic and data 
                                    </p>
                                    <p class="card-text">
                                      - Development of test battery and unit testing
                                    </p>
                                    <p class="card-text">
                                      - Analysis and development of the web interface (responsive) to set up the communication between the services that contains business logic and data.analysis
                                    </p>
                                    <p class="card-text">
                                      - Consume REST Api for completing the information of the business model information 
                                    </p>
                                    <p class="card-text">
                                      - Analysis and development of the communication between layers, client interface and business data of the application
                                    </p>
                                    <p class="card-text">
                                      - Used tools: Visual Studio Code, Eclipse, SoapUi, Subversion, XML, Json, Postman, Sonarqube, Fiddler,  Jenkins, Sharepoint, Confluence, Mock, Junit, Jasmine
                                    </p>
                                    <p class="card-text">
                                      - Methodology: Scrum
                                    </p>
                                    <p class="card-text">
                                      - Programming languages: Javascript, AngularJS, Bootstrap, Html5, Jquery, css, Spring MVC, Java 8
                                    </p>
                                  </div>
                                </div>  
                              </div> 
                              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto mr-auto">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">Mixin Solutions S.L – Programmer analyst</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">2016 - 2017</h6>
                                    <p class="card-text">
                                      - Analysis and development of the web interface (responsive)
                                    </p>
                                    <p class="card-text">
                                      - Efficient communication between the services that contains business logic and data.analysis  
                                    </p>    
                                    <p class="card-text">                                  
                                      - Analysis and design from scratch of the whole web interface structure
                                    </p>
                                    <p class="card-text">
                                      - Complete development of the web interface
                                    </p>
                                    <p class="card-text">
                                      - Development of an administration tool capable of modifying the whole web interface depending on the wish of the client
                                    </p>
                                    <p class="card-text">
                                      - Analysis and development of the business logic and data
                                    </p>
                                    <p class="card-text">
                                      - Consume REST Api for completing the information of the business model information 
                                    </p>
                                    <p class="card-text">
                                      - Analysis and development of the communication between layers, client interface and business data of the application
                                    </p>
                                    <p class="card-text">
                                      - Used tools: Visual Studio Code, Rest, Git, Json, Eclipse, Postman, Gitlab, less
                                    </p>
                                    <p class="card-text">
                                      - Methodology: Scrum
                                    </p>
                                    <p class="card-text">
                                      - Database: Oracle
                                    </p>
                                    <p class="card-text">
                                      - Application server: Apache   
                                    </p>
                                    <p class="card-text">                                 
                                      - Programming languages: Javascript, AngularJS, Bootstrap, Html5, Jquery, css, Hibernate, Java, Jasmine, Python, Django, Html5
                                    </p>
                                  </div>
                                </div>  
                              </div>          
                            </div>             
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Contact">
                            <ng-template ngbTabContent>
                              <div class="card">
                                <div class="card-body">
                                  <h4>
                                    PHONE NUMBER:
                                    <small class="text-muted">+34 654 80 92 34</small>
                                  </h4>
                                  <h4>
                                    EMAIL:
                                    <small class="text-muted">noecuentajuegos@gmail.com</small>
                                  </h4> 
                                </div>
                              </div>                           
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
