<div class="wrapper">
    <div class="page-header section-dark home-background">
        <div class="filter"></div>
        <div class="container introduction">
            <div class="row">
                <div class="col-xl-12 bring-to-front">
                    <div class="title-brand">
                        <h1 class="presentation-title">{{ nombre }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 bring-to-front">
                    <h2 class="presentation-subtitle text-center">
                        ANALYST SOFTWARE DEVELOPER
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 bring-to-front text-center say-hello">
                    <app-modal-component></app-modal-component>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <div class="left-side">
                                    <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
                                </div>
                                <div class="divider"></div>
                                <div class="right-side">
                                    <button type="button" class="btn btn-danger btn-link">Delete</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>